brotlipy==0.7.0
-e git+https://github.com/wasiahmad/NeuralCodeSum.git@ffc43a415718d80aba4fe8372a438e0e492ddc6d#egg=c2nl
certifi==2021.10.8
cffi 
charset-normalizer 
click 
colorama 
cryptography 
filelock 
future
huggingface-hub
idna 
importlib-metadata 
joblib
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
nltk==3.7
numpy 
packaging 
Pillow==9.0.1
prettytable==3.2.0
psutil==5.9.0
pycparser 
pyOpenSSL
pyparsing
PySocks
PyYAML==6.0
regex
requests
sacremoses 
sentencepiece==0.1.96
six 
tokenizers==0.12.1
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm
transformers==4.18.0
typing_extensions 
urllib3 
wcwidth==0.2.5
zipp 

